name: Validate JSON Maps

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    validate-maps:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                  python-version: "3.x"

            - name: Install Python dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install jsonschema

            - name: Validate JSON maps
              run: |
                  python3 devbin/validate_maps.py
